[Unit]
description=Network Uptime Monitor
After=network.target

[Service]
ExecStart=/usr/local/bin/netmonitor -c /usr/local/etc/netmonitor.json

[Install]
WantedBy=multi-user.target
