[Unit]
Description=Network Uptime Sensor
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/netsensor --config /usr/local/etc/netsensor.json --boot

[Install]
WantedBy=multi-user.target
